.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/
.DS_Store
.env
*.pkl
.pytest_cache/
project_documentation.md
texput.log
IEEE-conference-template/
data/processed/
report/*.aux
report/*.log
report/*.out
report/*.bbl
report/*.blg
report/*.synctex.gz
